body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #121212;
  color: #ffffff;
}

header {
  background-color: #1e1e1e;
  padding: 10px 0;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}

nav ul li {
  display: inline;
}

nav ul li a {
  color: #ffffff;
  text-decoration: none;
  padding: 10px 20px;
  transition: background-color 0.3s;
}

nav ul li a:hover {
  background-color: #333333;
  border-radius: 5px;
}

h1 {
  font-size: 3em;
  margin-bottom: 20px;
}

.welcome-section,
.projects-section,
.skills-section,
.videos-section {
  text-align: center;
  padding: 50px 20px;
}

.intro-box {
  background-color: #1e1e1e;
  padding: 20px;
  border-radius: 10px;
  margin: 20px auto;
  max-width: 600px;
  color: #f0f0f0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.project,
.skill,
.hobby {
  margin: 20px 0;
  padding: 20px 0;
  /* Added padding to give more space between lines */
  background-color: #1e1e1e;
  border-radius: 10px;
  transition: transform 0.3s;
}

.project:hover,
.skill:hover,
.hobby:hover {
  transform: scale(1.05);
}

button {
  padding: 10px 20px;
  margin-top: 10px;
  background-color: #333333;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #555555;
}

.video-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin: 20px 0;
}

.video-container {
  flex: 1 1 calc(33.333% - 40px);
  max-width: calc(33.333% - 40px);
  margin: 0 20px;
}

.video-wrapper {
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  background-color: #1e1e1e;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.tiktok {
  padding-bottom: 133.33%;
  /* 1170 / 1560 * 100 */
  height: 0;
}

.tiktok iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.project p {
  padding-top: 10px;
  /* Add padding to the top of project paragraphs */
  padding-bottom: 10px;
  /* Add padding to the bottom of project paragraphs */
}

em {
  font-style: italic;
  opacity: 0.6;
}